<style type="text/css">
    .fll {float:left}
    .clear {clear:both}
    .ml20 {margin-left: 20px}
    .red {color:red}
    code {white-space: pre; width: 100%; overflow: auto; display: block;background-color:#333;color:#fff;}
</style>
<script language="JavaScript" type="text/javascript">
<!--
function toggleDiv(element){
 if(document.getElementById(element).style.display == 'none')
  document.getElementById(element).style.display = 'block';
 else
       document.getElementById(element).style.display = 'none';
}
//-->
</script>
{EXPLODE}
<legend><h2><i class="fa fa-user-md"></i> Kompatibilität</h2></legend>
<div>
    <div class="alert alert-info" role="alert">
        <strong>Kompatibilität prüfen</strong>
        <br>
            Mit PHP 5.4 wurde die Verwendung von <em>htmlentities</em>, <em>htmlspecialchars</em>, <em>html_entity_decode</em> und <em>get_html_translation_table</em> geändert.
        Dem wurde mit dem Update P Rechnung getragen, so dass dies auch auf der neuen PHP Version funktioniert.
        Allerdings müssen ggf. Änderungen an alten Dateien von nicht an ilchClan 1.1P angepasste Modulen vorgenommen werden.
        Mit Hilfe dieses Tools können die zu ändernden Codestellen in hochgeladenen Dateien ausgemacht werden.
    </div>
<div class="panel panel-default">
  <div class="panel-body">
        <legend>Anpassungen vornehmen</legend>
        <br>
        <div class="well well-sm red">{_if_{notneeded}=='1'}Da deine PHP Version kleiner als 5.4 ist, musst du die Änderungen nicht unbedingt vornehmen.
        {_else_}Da du eine PHP Version größer als 5.4 einsetzt, müssen die Änderungen für einen reibungslosen Betrieb vorgenommen werden.
        {/_endif}</div><br>
        Die rot markierten Stellen im Code, falls Änderungen vorhanden, müssen angepasst werden.<br><br><i class="fa fa-life-ring"></i> Als Beispiel :<br><br>
        <kbd>htmlentites($variable);</kbd><br>muss zu<br><kbd>htmlentites($variable, ILCH_ENTITIES_FLAGS, ILCH_CHARSET);</kbd><br>
        geändert werden.<br><br>
    <div class="clear"></div>
<table class="table">
    <tr class="warning">
    <td><b>betroffene Datei</b></td>
    <td><b>notwendige Änderungen</b></td>
    </tr>
    {EXPLODE}
    <tr>
        <td>{phpFile}</td>
        <td>{changes} <a class="btn btn-success  btn-xs" href="javascript:toggleDiv('toggle');">zeigen<a></td>
    </tr></table>
    <div id="toggle" style="display:none;"><code>{code}</code></div>
    {EXPLODE}
    <div class="alert alert-success" role="alert">Keine notwendigen &Auml;nderungen gefunden</div>
    {EXPLODE}
</div></div>
