<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="Copyright" content="Script Copyright by ilch.de">
    <meta name="Page-topic" content="ilchClan - Clanscript">
    <title>Adminbereich</title>
    <link href="include/admin/templates/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="include/admin/templates/bootstrap/css/dashboard.css" rel="stylesheet">
    <link href="include/admin/templates/bootstrap/css/offcanvas.css" rel="stylesheet">
    <link href="include/admin/templates/bootstrap/css/style.css" rel="stylesheet">
    <link href="include/admin/templates/bootstrap/font-awesome/css/font-awesome.css" rel="stylesheet">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/smoothness/jquery-ui.css" />
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
    <script src="include/admin/templates/bootstrap/js/bootstrap.js"></script>
    <script src="include/admin/templates/bootstrap/js/bootstrap-tooltip.js"></script>
    <script src="include/admin/templates/bootstrap/js/docs.min.js"></script>
    <script src="include/admin/templates/bootstrap/js/offcanvas.js"></script>
    <script src="include/admin/templates/bootstrap/js/bootstrap.file-input.js"></script>
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
<body>

{_boxes_adminmenu}

<div class="container-fluid">
      <div class="row row-offcanvas row-offcanvas-right">
        <div class="col-xs-12 col-sm-9 main">
          <span class="visible-xs-offcanvas" style="float:right;margin-right:-20px;z-index:1001;">
            <button type="button"  class="btn btn-primary btn-sm" style="-webkit-border-top-right-radius: 0px;-webkit-border-bottom-right-radius: 0px;-moz-border-radius-topright: 0px;-moz-border-radius-bottomright: 0px;border-top-right-radius: 0px;border-bottom-right-radius: 0px;" data-toggle="offcanvas">< Quick Men&uuml;</button>
          </span>
            
            {EXPLODE}
<div class="well well-sm text-center">Ilch 1.1p Admin Center meets Bootstrap umgesetzt von <a href="http://balthazar3k.howald-design.ch" target="_blank"><strong>Balthazar3k</strong></a> und <a href="http://www.maretz.eu" target="_blank"><strong>Maretz</strong></a><span class="pull-right"><a rel="tooltip" title="scroll Top" href="#top" id ="backToTopBtn" ><i class="fa fa-caret-square-o-up fa-2x"></i></a></span></div>

          </div>
        <div class="col-xs-6 col-sm-3 sidebar-offcanvas"  id="sidebar" role="navigation">
            <ul class="nav nav-sidebar">
                <li><a href="index.php" class="text-success"><i class="fa fa-home fa-lg"></i> <b>Frontend</b></a></li>
            </ul>
            
            {_boxes_adminsidebar}
            
        </div>
      </div>
    </div>

<script>
$(document).bind("mobileinit", function(){
  $.mobile.touchOverflowEnabled = true;
});

$('#backToTopBtn').click(function(){
        $('html,body').animate({scrollTop:0},'slow');return false;
    });
</script>
  </body>
</html>
