<style>
    body, table {
        font-size: 14px;
    }
    
    .input-group-addon, .input-group  > .input-group-btn > .btn{
        width:  125px;
        text-align: right;
    }
    
    .input-group, .btn-group{
        width: 100%;
        margin-bottom: 3px;
    }
</style>

<script>
  $(document).ready(function() {
    $('[data-move]').click(function(event){
        event.preventDefault();
        var $move = $(this).attr('data-move');
        var $text = $(this).text();
        $($move).val($text);
    });
    
    $( "#sortable" ).sortable({
        cancel: "#category",
        stop: function(){
            var $form = $('form#sort');
            var action = $form.attr('action');
            var values = $form.serialize();
            $.post(action, values, function(data){
                window.location = window.location;
            },'html');
        }
    });
    $( "#sortable" ).disableSelection();
  });
</script>
<span class="visible-xs-offcanvas"><br><br></span>
    <div class="alert alert-warning">
<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Schließen</span></button>
<strong>Achtung!</strong> Das hier sind die Einstellungen vom Adminmen&uuml;</div>
<div class="row">
<div class="col-md-8">
    <div class="panel panel-default" style="overflow-x:auto;overflow-y:hidden;">
        <div class="panel-heading">
            Liste aller regestrierten Module
        </div>
        <form id="sort" action="admin.php?modules-sort" method="POST">
            <table class="table table-striped ">
                <thead>
                    <tr>
                        <th></th>
                        <th>Kategorie</th>
                        <th>Name</th>
                        <th>URL</th>
                        <th class="text-center">Admin</th>
                        <th class="text-center">User</th>
                        <th class="text-center">Rechte</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="sortable">
                    {EXPLODE}
                    <tr id="category" class="warning">
                        <td></td>
                        <td><b>{kat}</b></td>
                        <td colspan="6"></td>
                    </tr>
                    {EXPLODE}
                    <tr>
                        <td class="text-center">
                            <b><i class="fa fa-arrows-v"></i> </b>
                            <input type="hidden" name="sort[]" value="{id}" />
                        </td>
                        <td class="text-center info"><b>{kat}</b></td>
                        <td>{name}</td>
                        <td><a href="admin.php?{url}">{url}</a></td>
                        <td class="text-center">{_if_{ashow}=='1'}<i class="fa fa-check-square text-success"></i>{_else_}<i class="fa fa-square text-danger"></i>{/_endif}</td>
                        <td class="text-center">{_if_{gshow}=='1'}<i class="fa fa-check-square text-success"></i>{_else_}<i class="fa fa-square text-danger"></i>{/_endif}</td>
                        <td class="text-center">{_if_{fright}=='1'}<i class="fa fa-check-square text-success"></i>{_else_}<i class="fa fa-square text-danger"></i>{/_endif}</td>
                        <td>
                            <div class="btn-group btn-group-sm">
                                <a href="admin.php?modules-edit-{id}" href="" class="text-success"><i class="fa fa-edit"></i></a>
                                <a href="admin.php?modules-delete-{id}" class="text-warning"><i class="fa fa-trash-o"></i></a>
                            </div>
                        </td>
                    </tr>
                    {EXPLODE}
                </tbody>
            </table>
        </form>
    </div>
</div>

<div class="col-md-4">
    <form action="admin.php?modules-save-{id}" method="POST">
        <div class="input-group">
            <div class="input-group-btn">
                <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">Modul <span class="caret"></span></button>
                <ul class="dropdown-menu">
                    {_list_modules@<li><a href="%2" data-move="[name=url]">%1</a></li>}
                </ul>
            </div>
            <input type="text" name="url" class="form-control" placeholder="Modulurl" value="{url}">
        </div>
        <div class="input-group">
            <div class="input-group-btn">
                <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">Kategorie <span class="caret"></span></button>
                <ul class="dropdown-menu">
                    {_list_category@<li><a href="%1" data-move="[name=kat]">%1</a></li>}
                </ul>
            </div>
            <input type="text" name="kat" class="form-control" placeholder="Kategoriename" value="{kat}">
        </div>
        <div class="input-group">
            <span class="input-group-addon">Modulname:</span>
            <input type="text" name="name" class="form-control" placeholder="Modulname" value="{name}">
        </div>       
        <div class="btn-group btn-group-justified" data-toggle="buttons">
            <label class="btn btn-default {_if_{ashow}=='1'}active{/_endif}">
                <input name="ashow" type="checkbox" value="1" {_if_{ashow}=='1'}checked="checked"{/_endif}> Admin
            </label>
            <label class="btn btn-default {_if_{gshow}=='1'}active{/_endif}">
                <input name="gshow" type="checkbox" value="1" {_if_{gshow}=='1'}checked="checked"{/_endif}> User
            </label>
            <label class="btn btn-default {_if_{fright}=='1'}active{/_endif}">
                <input name="fright" type="checkbox" value="1" {_if_{fright}=='1'}checked="checked"{/_endif}> Rechte 
            </label>
        </div>
        <div class="btn-group">
            <input type="submit" class="btn btn-success" value="Speichern">
        </div>
    </form>
</div></div>
